.cart {
    margin-top: 100px;
}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw,12px);
}

.cart-items-item {
    margin: 10px 0;
    color: black;
}

.cart-items-item img {
    width: 55px;
    object-fit: cover;
    border: none; /* Add this */
    outline: none; /* Add this */
}


.cart hr {
    height: 1px;
    background-color: #e2e2e2; /* Change from color to background-color */
    border: none; /* Ensure there is no border */
}


.cart-items-item .cross{
    cursor: pointer;
}

.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
}

.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-totals-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.cart-total hr{
    margin: 10px 0px;
}

.cart-promocode{
    flex: 1;
}

.cart-promocode p{
    color: #555;
}

.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea;
    border-radius: 4px;
}

.cart-promocode input{
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}
.cart-promocode button{
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
}

.qty-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    font-size: 20px;
    color: #333;
    display: inline-flex;
    align-items: center;
  }
  
  .qty-btn:hover {
    color: #007bff;
  }
  
  .cart-quantity-controls {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .clear-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #fdf3f3;
    background-color: #f44336;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .clear-cart-btn:hover {
    background-color: #d32f2f;
  }
  
  .cart-total button{
    background-color: tomato;
    color: white;
    width: max(15vw,200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width:750px)
{
    .cart-bottom{
        flex-direction: column-reverse;
    }
    .cart-promocode{
        justify-content: start;
    }
}