/* Dashboard layout */
.dashboard-layout {
    display: flex;
    min-height: 100vh;
}

/* Navbar styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(97, 97, 97, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    z-index: 1000;
}

.navbar .logo {
    max-width: 80px;
    width: auto;
}

.navbar .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    left: 0;
    width: 18%;
    height: calc(100vh - 60px); /* Full height minus Navbar height */
    background-color: #f5f5f5;
    border-right: 1.5px solid #a9a9a9;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 900;
}

.sidebar-options {
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Content styling */
.content {
    margin-top: 100px;
    margin-left: 18%;
    padding: 30px 20px;
    flex: 1;
    overflow-y: auto;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    background-color: #fff;
    border: 1px solid #a9a9a9;
}
