.footer {
    color: #d9d9d9;
    background-color: #232323;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 50px;
    margin-top: 100px;
}

.footer-content-left .app-logo {
    width: 150px;
    height: 150px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left, 
.footer-content-right, 
.footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left li, 
.footer-content-right li, 
.footer-content-center li {
    margin-bottom: 10px;
    list-style: none;
    cursor: pointer;
}

.footer-content-left li, 
.footer-content-right li, 
.footer-content-center li:hover{
    color: tomato;
}

.footer-content-right h2, 
.footer-content-center h2 {
    color: white;
}

.footer-social-icons {
    display: flex; 
    gap: 15px;    
}

.footer-social-icons svg {
    cursor: pointer;
}
.footer-social-icons svg:hover {
    color: tomato;
}

.navbar-partner {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: white;
}

.navbar-partner:hover {
    color: tomato;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}

@media (max-width: 1050px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright {
        text-align: center;
    }
}
