.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

.menu-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.menu-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.menu-details {
  padding: 10px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-details h3 {
  font-size: 18px;
  font-weight: bold;
}

.menu-details p {
  font-size: 15px;
  color: gray;
}

.menu-price {
  font-size: 1.1em;
  margin: 5px 0;
}

.menu-category {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.menu-category.veg {
  color: green;
}

.menu-category.non-veg {
  color: red;
}

.menu-availability.available {
  color: #4caf50;
  font-weight: bold;
}

.menu-availability.unavailable {
  color: #f44336;
  font-weight: bold;
}

.menu-footer {
  margin-top: auto;
  padding: 10px;
  text-align: center;
}

.add-to-cart-btn {
  width: 100%;
  background-color: tomato;
  color: white;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: rgb(209, 47, 19);
}
